body > *{

    margin: 5%;
}

body{

    background-image: url(https://gundersondirect.com/wp-content/uploads/2017/10/Abstract-Green-Background.jpg)
    

}

.btn
{
    background-color: black;
    color: lightgreen;
}


#failed-login-btn
{
    margin-left: 10%;
}

.back-button
{
    background-color: black;
    color: rgb(238, 189, 144);
}


.form-select
{
    width: 20%;
}


#description-submit
{
    width: 25%;
}

table
{
    background-color: rgb(223, 231, 176);
    color: black;
    border-color: black;
    border-width: 15px;
    border-radius: 2px;

}

td
{
    padding-left: 5px;
    padding-right: 5px;
}